{% extends 'layout-full.html' %}

{% block title -%}
    Use tax time to save &gt; Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Saving regularly can be hard, so why not turn your tax refund into a savings strategy you can rely on?
{%- endblock %}


{% block hero %}
    <section class="content_hero hero">
        <div class="hero_wrapper wrapper">
            <div class="hero_text">
                <h1 class="hero_heading">Use tax time to save</h1>
                <p class="hero_subhead">
                  Regular savings for sudden expenses, big financial moves, and future purchases
                  can be hard, so why not turn your tax refund into a savings strategy you can rely on?
                </p>
            </div>
            <div class="hero_image" style="background-image: url('http://placekitten.com/g/400/195')"></div>
        </div>
    </section>
{% endblock %}

{% block content_main_modifiers -%}
    content__flush-bottom
{%- endblock %}

{% block content_main %}

    <h2>Financial savings tools</h2>

    <h2>Automatically save with your tax return</h2>

    <h2>General saving questions</h2>

    <div class="block block__padded-top block__border-top">
        <div class="about-us">
            <div class="about-us_copy">
                <p>
                    The Consumer Financial Protection Bureau (CFPB) is
                    a government agency built to protect consumers.
                    We keep banks and other financial service providers
                    you depend on every day operating fairly.
                </p>
            </div>
            <aside class="about-us_social">
                <h2 class="h5">Follow us</h2>
                <ul class="post_share list__horizontal">
                    <li class="list_item">
                        <a class="share-icon share-icon__large"
                           href="https://www.facebook.com/CFPB">
                            <span class="cf-icon cf-icon-facebook-square"></span>
                            <span class="u-visually-hidden">Facebook</span>
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="share-icon share-icon__large"
                           href="https://twitter.com/CFPB">
                            <span class="cf-icon cf-icon-twitter-square"></span>
                            <span class="u-visually-hidden">Twitter</span>
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="share-icon share-icon__large"
                           href="https://www.linkedin.com/company/consumer-financial-protection-bureau">
                            <span class="cf-icon cf-icon-linkedin-square"></span>
                            <span class="u-visually-hidden">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>

    <aside class="block block__bg block__border block__flush-bottom block__flush-sides">
        <div class="content-l">
            <div class="content-l_col content-l_col-1-2">
                <h2 class="header-slug">
                    <span class="header-slug_inner">Ask CFPB</span>
                </h2>

                <p>
                    Ask CFPB offers hundreds of answers to frequently-asked financial questions
                    about student loans, credit cards, mortgages, credit scores, credit reporting,
                    getting out of debt, and more.
                </p>

                <a class="jump-link" href="/askcfpb/">
                    <span class="jump-link_text">Visit Ask CFPB</span>
                </a>
            </div>

            <div class="content-l_col content-l_col-1-2">
                <h2 class="header-slug">
                    <span class="header-slug_inner">Submit a complaint</span>
                </h2>

                <p>
                    Have an issue with your mortgage, credit card, student loan, or other
                    financial product or service? Submit a complaint and we'll work to
                    get you a response, generally within 15 days.
                </p>

                <a class="jump-link" href="/complaint/">
                    <span class="jump-link_text">Submit a complaint</span>
                </a>
            </div>
        </div>
    </aside>

{% endblock %}
