{% extends 'layout-2-1-bleedbar.html' %}

{% block title -%}
    Use tax time to save &gt; Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Saving regularly can be hard, so why not turn your tax refund into a savings strategy you can rely on?
{%- endblock %}


{% block hero %}
    <section class="content_hero hero">
        <div class="hero_wrapper wrapper">
            <div class="hero_text">
                <h1 class="hero_heading">Use tax time to save</h1>
                <p class="hero_subhead">
                    Saving for sudden expenses, future purchases, or big financial moves can be hard.                    So why not save some of your tax refund?
                    You can use it to build an emergency fund or start a nest egg.
                </p>
            </div>
            <div class="hero_image" style="background-image: url('static/img/taxpayers_hero_870x390.png')"></div>
        </div>
    </section>
{% endblock %}

{% block content_main %}

    <div class="m-image-text-25-75">
        <div class="m-image-text-25-75_image-container">
            <img class="m-image-text-25-75_image" src="static/img/taxpayers_tools_300.png">
        </div>
        <div class="m-image-text-25-75_content">
            <h2>Financial savings tools</h2>
            <p>
                You’re not alone when saving for your future.
                Check out our tools and resources that can help you make the most
                of your savings and achieve your financial goals:
            </p>
            <ul>
                <li>
                    <h3 class="inline-heading">Planning for retirement?</h3>
                    <a href="/retirement/before-you-claim/">
                        Explore your Social Security claiming options.
                    </a>
                </li>
                <li>
                    <h3 class="inline-heading">Saving for college?</h3>
                    <a href="/paying-for-college/">
                        Learn the best strategies.
                    </a>
                </li>
                <li>
                    <h3 class="inline-heading">Planning on buying a home?</h3>
                    <a href="/owning-a-home/">
                        Get help before you shop.
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="m-image-text-25-75">
        <div class="m-image-text-25-75_image-container">
            <img class="m-image-text-25-75_image" src="static/img/taxpayers_retirement-saving_300.png">
        </div>
        <div class="m-image-text-25-75_content">
            <h2>Saving for the future</h2>
            <p>
                Thinking about starting a retirement account?
                The Department of the Treasury has a new
                retirement savings account option called myRA.
                Here’s what makes myRA a good savings option:
            </p>

            <ul>
                <li>
                    <b>It’s simple.</b>
                    If you have unexpected expenses you can withdraw your money
                    any time you want with no penalty.
                </li>
                <li>
                    <b>It’s safe.</b>
                    Because the U.S. Treasury backs myRA, your investments are secure.
                </li>
                <li>
                    <b>It’s affordable.</b>
                    The myRA has no maintenance fees, and you can contribute
                    as little as you want on a one-time or ongoing basis.
                </li>
                <li>
                    <b>It’s portable.</b>
                    If you change jobs you won’t have to transfer your myRA account.
                </li>
            </ul>

            <a class="jump-link jump-link__external-link" href="https://myRA.gov/">
                <span class="jump-link_text">Check it out at myRA.gov</span>
            </a>
        </div>
    </div>

    <div class="m-image-text-25-75">
        <div class="m-image-text-25-75_image-container">
            <img class="m-image-text-25-75_image" src="static/img/taxpayers_direct-deposit_300.png">
        </div>
        <div class="m-image-text-25-75_content">
            <h2>Automatically save with your tax return</h2>
            <p>
                There are many ways to save your tax refund.
                By setting up direct deposit with the IRS, you send your refund to
                one, two, or even three accounts next year.
            </p>

            <a class="jump-link jump-link__external-link"
               href="https://www.irs.gov/Individuals/Get-your-refund-faster-Tell-IRS-to-Direct-Deposit-your-Refund-to-One-Two-or-Three-Accounts">
                <span class="jump-link_text">For more information on direct deposit, visit irs.gov</span>
            </a>
        </div>
    </div>

    <div class="m-image-text-25-75">
        <div class="m-image-text-25-75_image-container">
            <img class="m-image-text-25-75_image" src="static/img/taxpayers_questions_300.png">
        </div>
        <div class="m-image-text-25-75_content">
            <h2>General saving questions</h2>
            <p>
                From questions for those just starting to think about long-term savings,
                to those looking for detailed financial help, we have the answers:
            </p>

            <ul>
              <li>
                  <a href="/askcfpb/917/what-certificate-deposit-cd.html">
                      What is a certificate of deposit (CD)?
                  </a>
              </li>
              <li>
                  <a href="/askcfpb/915/what-money-market-account.html">
                      What is a money market account?
                  </a>
              </li>
              <li>
                  <a href="/askcfpb/1005/there-limit-how-much-i-can-deposit-my-savings-account.html">
                      Is there a limit on how much I can deposit into my savings account?
                  </a>
              </li>
              <li>
                  <a href="/askcfpb/919/can-i-open-checking-or-savings-accounts-more-one-bank-time.html">
                      Can I open checking or savings accounts with more than one bank at a time?
                  </a>
              </li>
            </ul>

            <p>
                Have questions about saving or other consumer financial products and services?
                Search for answers or ask your own question on Ask CFPB.
            </p>
            <a class="jump-link" href="http://www.consumerfinance.gov/askcfpb/">
                <span class="jump-link_text">Visit consumerfinance.gov/askcfpb</span>
            </a>
        </div>
    </div>

{% endblock %}

{% block content_sidebar %}

    <aside class="block block__flush-top">
        <h2 class="h3">About the CFPB</h2>
        <p>
            The Consumer Financial Protection Bureau (CFPB) is
            a government agency built to protect consumers.
            We keep banks and other financial service providers
            you depend on every day operating fairly.
        </p>
    </aside>

    <aside class="block">
        <h2 class="header-slug">
            <span class="header-slug_inner">Ask CFPB</span>
        </h2>

        <p>
            Ask CFPB offers hundreds of answers to frequently-asked financial questions
            about student loans, credit cards, mortgages, credit scores, credit reporting,
            getting out of debt, and more.
        </p>

        <a class="jump-link" href="/askcfpb/">
            <span class="jump-link_text">Visit Ask CFPB</span>
        </a>
    </aside>

    <aside class="block">
        <h2 class="header-slug">
            <span class="header-slug_inner">Submit a complaint</span>
        </h2>

        <p>
            Have an issue with your mortgage, credit card, student loan, or other
            financial product or service? Submit a complaint and we'll work to
            get you a response, generally within 15 days.
        </p>

        <a class="jump-link" href="/complaint/">
            <span class="jump-link_text">Submit a complaint</span>
        </a>
    </aside>

{% endblock %}
